body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #edf6f9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #000;
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 8rem;
  color: #556581;
  margin: 50px;
}

button {
  background: transparent;
  border: 4px solid transparent;
  text-align: center;
  font-size: 22px;
  border-radius: 15px;
  padding: 10px 25px;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.06s ease-in-out;
}

.minus {
  background-color: #e63946;
  color: #fff;
  box-shadow: 0px 6px 14px -2px #000;
}

.plus {
  background-color: #2a9d8f;
  color: #fff;
  box-shadow: 0px 6px 10px -2px #000;
}

button:hover {
  /* transform: translateY(-1px); */
}

button:active {
  transform: translateY(6px);
  box-shadow: none;
}
